.calculator-wrapper{
    display: flex;
    flex-direction: column;
    padding:10vh 30vw;
}

.button-window{
    display:flex;
    flex-direction:column;
}

.output-window{
    height:10vh;
    font-size:5em;
}
.input-window{
    height:6vh;
    font-size:3em;
}
.button-window>*{
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
    height:5vh;
}

.button-window>*>*{
    width:25%;
}

.row-5>button{
    justify-content: flex-start;
    flex-grow:1 ;
}